@using PlayerRatings.Localization

@{
    ViewBag.Title = LocString[nameof(LocalizationKey.NoLeagues)];
}

<h3></h3>

<div>
    <p>
        @LocString[nameof(LocalizationKey.NoLeagues)].
        <a asp-action="Create">@LocString[nameof(LocalizationKey.CreateNew)]</a>
    </p>
</div>