@using PlayerRatings.Localization
@{
    ViewData["Title"] = LocString[nameof(LocalizationKey.Error)];
}

<h1 class="text-danger">@LocString[nameof(LocalizationKey.Error)].</h1>
<h2 class="text-danger">@LocString[nameof(LocalizationKey.ErrorOccurredWhileProcessing)].</h2>
