@using PlayerRatings.Localization
@{
    ViewData["Title"] = LocString[nameof(LocalizationKey.ForgotPasswordConfirmation)];
}

<h2>@ViewData["Title"].</h2>
<p>
    @LocString[nameof(LocalizationKey.CheckEmailToReset)].
</p>
