@using PlayerRatings.Localization
@{
    ViewData["Title"] = LocString[nameof(LocalizationKey.ResetPasswordConfirmation)];
}

<h1>@ViewData["Title"].</h1>
<p>
    @LocString[nameof(LocalizationKey.YourPasswordHasBeenReset)].
    <a asp-controller="Account" asp-action="Login">@LocString[nameof(LocalizationKey.ClickHereToLogin)]</a>.
</p>
